zz-basic/src/main/resources/TokenPay.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://oaas.creditcard.cmbchina.com" xmlns:impl="http://oaas.creditcard.cmbchina.com" xmlns:intf="http://oaas.creditcard.cmbchina.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://oaas.creditcard.cmbchina.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <element name="tokenTransResponse">
                <complexType>
                    <sequence>
                        <element name="tokenTransReturn" nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="tokenTrans">
                <complexType>
                    <sequence>
                        <element name="transRequest" nillable="true" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="tokenTransResponse">
        <wsdl:part element="impl:tokenTransResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="tokenTransRequest">
        <wsdl:part element="impl:tokenTrans" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TokenPay">
        <wsdl:operation name="tokenTrans">
            <wsdl:input message="impl:tokenTransRequest" name="tokenTransRequest">
            </wsdl:input>
            <wsdl:output message="impl:tokenTransResponse" name="tokenTransResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TokenPaySoapBinding" type="impl:TokenPay">
        <wsaw:UsingAddressing wsdl:required="false"/>
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="tokenTrans">
            <wsdlsoap:operation soapAction="tokenTrans"/>
            <wsdl:input name="tokenTransRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="tokenTransResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TokenPayService">
        <wsdl:port binding="impl:TokenPaySoapBinding" name="TokenPay">
            <wsdlsoap:address location="http://10.130.91.30:80/OAASWSDP/services/TokenPay"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>